{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Proyectos</h2>
        <a href="/nuevo-proyecto" class="btn btn-primary mt-3 btn-outline-success verde" role="button">
            <i class="fas fa-plus"></i> Nuevo Proyecto
        </a>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Número Contratación</th>
                            <th>Unidad compradora</th> 
                            <th>Lugar</th>
                            <th>Nombre</th>
                            <th>Productos</th>
                            <th>Fechas</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Proyectos}}
                        <tr>
                            <td>{{.NumContratacion}}</td>
                            <td>{{.EntidadNombre}}</td> 
                            <td>{{.Lugar}}</td>
                            <td>{{.LicitacionNombre}}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {{range .Productos}}
                                    <li>
                                        <small>{{.Cantidad}}x {{.ProductoNombre}} (${{formatPrice .PrecioUnitario}})</small>                                    </li>
                                    {{end}}
                                </ul>
                            </td>
                            <td>
                                Junta: {{ .FechaJunta }}<br>
                                Propuestas: {{ .FechaPropuestas }}<br>
                                Fallo: {{ .FechaFallo }}<br>
                                Entrega: {{ .FechaEntrega }}
                            </td>
                            <td>
                                {{ .EstadoLicitacion }}
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="/proyectos/editar/{{.IDProyecto}}" class="btn btn-sm btn-warning">Actualizar</a>
                                </div>
                            </td>                            
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="6" class="text-center text-muted py-4">No hay proyectos registrados</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}
