{{template "base" .}}
{{define "content"}}
    <div class="container">
        <a name="" id="" class="btn btn-primary mt-3 btn-outline-success verde" href="/crear" role="button">Agregar Producto</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{range .Productos}}
                <tr>
                    <td>{{.IDProducto}}</td>
                    <td>{{.Marca}}</td>
                    <td>{{.Tipo}}</td>
                    <td>{{.SKU}}</td>
                    <td>{{.Nombre}}</td>
                    <td>{{.Descripcion}}</td>
                    <td>{{.Cantidad}}</td>
                    <td>
                        <a href="/editar/{{.IDProducto}}" class="btn btn-sm btn-warning">Editar</a>
                        <form action="/eliminar/{{.IDProducto}}" method="POST" onsubmit="return confirm('¿Borrar producto?')">
                            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                            <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
{{end}} 