{{template "base" .}}
{{define "content"}}
    <div class="container">
        <a name="" id="" class="btn btn-primary btn-outline-success verde" href="/crear" role="button">Agregar Producto</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>Sku</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>Editar | Borrar</td>
                </tr>
            </tbody>
          </table>
    </div>
{{end}}