{{template "base" .}}
{{define "content"}}
<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Licitaciones</h2>
        <a href="/nueva-licitacion" class="btn btn-primary mt-3 btn-outline-success verde" role="button">
            <i class="fas fa-plus"></i> Nueva Licitación
        </a>
    </div>

    <div class="card-body">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Entidad</th>
                <th>Número de Contratación</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Estatus</th>
                <th>Fechas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{range .Licitaciones}}
            <tr>
                <td>{{.EntidadNombre}}</td>
                <td>{{.NumContratacion}}</td>
                <td>{{.Nombre}}</td>
                <td>{{.Tipo}}</td>
                <td>{{.Estatus}}</td>
                <td>{{.FechaEntrega.Format "2006-01-02"}}</td>
                <td>
                    <a href="/editar-licitacion/{{.IDLicitacion}}" class="btn btn-sm amarillo">Editar</a>   
                    <a href="/editar-licitacion/{{.IDLicitacion}}" class="btn btn-sm azul">Partidas</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="8" class="text-center">No hay licitaciones registradas.</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

</div>
{{end}}